{% extends 'backoffice/home/index.html.twig' %}

{% block message %}

<div class="col-lg-9 col-md-8" id="message-container">
                        <div class="ibox" id="mailbox-container">
                            <div class="mailbox-header d-flex justify-content-between" style="border-bottom: 1px solid #e8e8e8;">
                                <div>
                                    <h5 class="inbox-title">{{message.subject}}</h5>
                                    <div class="m-t-5 font-13">
                                        <span class="font-strong">{{message.name}}</span>
                                        <a class="text-muted m-l-5" href="javascript:;">{{message.email}}</a>
                                    </div>
                                </div>
                                <div class="inbox-toolbar m-l-20">
                                <form method="post" action="{{ path('contactUs_delete', {'id': message.id}) }}"
                                  onsubmit="return confirm('Are you sure you want to delete this item?');">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ message.id) }}">
                                    <button class="btn btn-default btn-sm" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-trash-o"></i></button>
                            </form>
                                </div>
                            </div>
                            <div class="mailbox-body">
                                <p>{{message.message}}</p>                              
                            </div>
                            
                        </div>
                    </div>



{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $([document.documentElement, document.body]).animate({
            scrollTop: $("#message-container").offset().top
        }, 2000);
    </script>
{% endblock javascripts %}