{% extends 'backoffice/home/index.html.twig' %}

{% block message %}

                  <div class="col-md-6">
                        <div class="ibox">
                            <div class="ibox-head">
                                <div class="ibox-title">Message details</div>
                                <div class="ibox-tools">
                                    <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
                                </div>
                            </div>
                            <div class="ibox-body">
                                
                                <div class="card" style="width:320px;">
                                    <div class="card-header">
                                        <h6 class="m-0">{{message.name}}</h6><small class="text-muted">{{message.email}}</small>
                                    </div>
                                     <div class="card-header">
                                        <h6 class="m-0">{{message.subject}}</h6>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">{{message.message}}</p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            
                            <form method="post" action="{{ path('contactUs_delete', {'id': message.id}) }}"
                                  onsubmit="return confirm('Are you sure you want to delete this item?');">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ message.id) }}">
                                 <button class="btn btn-default btn-sm" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-trash-o"></i></button>
                            </form>                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $([document.documentElement, document.body]).animate({
            scrollTop: $("#message-container").offset().top
        }, 2000);
    </script>
{% endblock javascripts %}