{% extends 'frontoffice/index.html.twig' %}

{% block body %}

<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Contact Us</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="{{ path('app_front') }}">Home</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Contact</p>
        </div>
    </div>
</div>
<!-- Page Header End -->


<!-- Contact Start -->
<div class="container-fluid pt-5">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">Contact For Any Queries</span></h2>
    </div>
    <div class="row px-xl-5">
        <div class="col-lg-7 mb-5">
            <div class="contact-form">
                <div id="success"></div>
                {{ form_start(form) }}
                    <div class="control-group">
                        {{ form_row(form.name, {'attr': {'class': 'form-control'}}) }}
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        {{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        {{ form_row(form.subject, {'attr': {'class': 'form-control'}}) }}
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        {{ form_row(form.message, {'attr': {'class': 'form-control'}}) }}
                        <p class="help-block text-danger"></p>
                    </div>
                    <div>
                    <a href="{{ path('app_frontoffice_contact') }}">
                        <button class="btn btn-primary py-2 px-4" type="submit" id="sendMessageButton">Send Message</button>
                    </a>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
        <div class="col-lg-5 mb-5">
            <h5 class="font-weight-semi-bold mb-3">Get In Touch</h5>
            <div class="d-flex flex-column mb-3">
                <h5 class="font-weight-semi-bold mb-3">Store </h5>
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>123 Street, tunisia</p>
                <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>toytoc@example.com</p>
                <p class="mb-2"><i class="fa fa-phone-alt text-primary mr-3"></i>+0123456789</p>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->

{% endblock %}
