{% extends 'backoffice/base_secured.html.twig' %}
{% block body %}
    <div class="ibox">
        <div class="ibox-head">
            <div class="ibox-title">Add Category</div>
            <div class="ibox-tools">
                <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
            </div>
        </div>
        <div class="ibox-body">
            {{ form_start(form) }}
            <div class="form-horizontal" id="form-sample-1" method="post" novalidate="novalidate">
                <div class="form-group row">
                    <div class="col-sm-6 form-group">
                        {{ form_row(form.name, {'attr': {'class': 'form-control'}}) }}
                        {{ form_row(form.description, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col-sm-6 form-group">
                    {{ form_row(form.picture, {'attr': {'class': 'form-control'}}) }}
                    </div>

                <div class="form-group row">
                    <div class="col-sm-6 ml-sm-auto">
                        <button class="btn {{ button_color|default('btn-outline-primary') }}  mt-3">{{ button_label|default('Save') }}</button>
                        <a href="{{ path('app_backoffice_categories_index') }}">
                            <span class="btn btn-warning">Annuler</span></a>
                    </div>
                </div>

            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
