<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>Backoffice TOYTOC | {% block title %}{% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    <!-- GLOBAL MAINLY STYLES-->
    <link href="{{ asset('assets/backoffice/css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/backoffice/css/font-awesome.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/backoffice/css/themify-icons.css') }}" rel="stylesheet" />
    <!-- THEME STYLES-->
    <link href="{{ asset('assets/backoffice/css/main.css') }}" rel="stylesheet" />
    <!-- PAGE LEVEL STYLES-->
    <link href="{{ asset('assets/backoffice/css/auth-light.css') }}" rel="stylesheet" />
</head>

<body class="bg-silver-300">
<div class="content">
    <div class="brand">
        <a class="link" href="#">ToyToc Backoffice</a>
    </div>

    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="alert alert-{{ type }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {% block body %}
    {% endblock %}
</div>
<!-- BEGIN PAGA BACKDROPS-->
<div class="sidenav-backdrop backdrop"></div>
<div class="preloader-backdrop">
    <div class="page-preloader">Loading</div>
</div>

<!-- END PAGA BACKDROPS-->
<!-- CORE PLUGINS -->
<script src="{{ asset('assets/backoffice/js/jquery.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('assets/backoffice/js/popper.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('assets/backoffice/js/bootstrap.min.js') }}" type="text/javascript"></script>
<!-- PAGE LEVEL PLUGINS -->
<script src="{{ asset('assets/backoffice/js/jquery.validate.min.js') }}" type="text/javascript"></script>
<!-- CORE SCRIPTS-->
<script src="{{ asset('assets/backoffice/js/app.js') }}" type="text/javascript"></script>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

</body>

</html>
