{% extends 'backoffice/base_not_secured.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <form id="login-form" method="post">
        <h2 class="login-title">Log in</h2>
        <div class="form-group">
            <div class="input-group-icon right">
                <div class="input-icon"><i class="fa fa-envelope"></i></div>
                <input class="form-control" value="{{ last_username }}" type="email" name="email" placeholder="Email"
                       autocomplete="off">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group-icon right">
                <div class="input-icon"><i class="fa fa-lock font-16"></i></div>
                <input class="form-control" type="password" name="password" placeholder="Password">
            </div>
        </div>
        <div class="form-group d-flex justify-content-between">
            <label class="ui-checkbox ui-checkbox-info">
                <input type="checkbox" id="remember_me" name="_remember_me">
                <span class="input-span"></span>Remember me</label>
            <a href="{{ path('app_backoffice_reset_password_request') }}">Forgot password?</a>
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('admin_login') }}">

        <div class="form-group">
            <button class="btn btn-info btn-block" type="submit">Login</button>
        </div>
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
    </form>
{% endblock body %}

{% block javascripts %}
    {{ parent() }}
    <!-- PAGE LEVEL SCRIPTS-->
    <script type="text/javascript">
        $(function () {
            $('#login-form').validate({
                errorClass: "help-block",
                rules: {
                    email: {
                        required: true,
                        email: true
                    },
                    password: {
                        required: true
                    }
                },
                highlight: function (e) {
                    $(e).closest(".form-group").addClass("has-error")
                },
                unhighlight: function (e) {
                    $(e).closest(".form-group").removeClass("has-error")
                },
            });
        });
    </script>
{% endblock javascripts %}
