{% extends 'frontoffice/index.html.twig' %}

{% block body %}


    <!-- Cart Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        <div class="col-lg-8 table-responsive mb-5">
    
            <table class="table table-bordered text-center mb-0">
                <thead class="bg-secondary text-dark">
                <tr>
                    <th>Total</th>
                    <th>Remove</th>
                </tr>
                </thead>
                <tbody class="align-middle">
                {% for toy in app.session.get('card', []) %}
                <tr id="line-{{toy.id}}">
                    {# <td class="align-middle"><img src="{{ asset('upload/img/toys/' ~ toy.pictures|first.path) }}" alt="" style="width: 50px;"> {{toy.state}}</td> #}
                    <td class="align-middle">{{toy.price}}</td>
                    <td class="align-middle"><button data-element="#line-{{toy.id}}" class="btn btn-sm btn-primary add-remove-card" 
                    href="{{path('app_frontoffice_cartremove', {'id' : toy.id})}}"><i class="fa fa-times"></i></button></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
       
        </div>
        <div class="col-lg-4">
            <div class="card border-secondary mb-5">
                <div class="card-header bg-secondary border-0">
                    <h4 class="font-weight-semi-bold m-0">Cart Summary</h4>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-medium">Shipping</h6>
                        <h6 class="font-weight-medium">#</h6>
                    </div>
                </div>
                <div class="card-footer border-secondary bg-transparent">
                    <div class="d-flex justify-content-between mt-2">
                        <h5 class="font-weight-bold">Total</h5>
                        <h5 class="font-weight-bold">{{ total }}</h5>
                    </div>
                    <button class="btn btn-block btn-primary my-3 py-3">Proceed To Checkout</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Cart End -->

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('assets/frontoffice/js/card.js') }}"></script>
{% endblock %}