{% extends 'frontoffice/base_secured.html.twig' %}

{% block body %}

<form method="POST" class="register-form" id="register-form">
    <div class="form-row">
        <div class="form-group">
            <div class="form-input">
                <label for="email" class="required">Email</label>
                <input class="form-control" value="{{ last_username }}" type="email" id="email" name="email" placeholder="Email"
                       autocomplete="off">
            </div>
            <div class="form-input">
                <label for="password" class="required">password</label>
                <input id="password" class="form-control" type="password" name="password" placeholder="Password">
            </div>

        </div>
        <div class="form-group d-flex justify-content-between">
            <label class="ui-checkbox ui-checkbox-info">
                <input type="checkbox" id="remember_me" name="_remember_me">
                <span class="input-span"></span>Remember me</label>
            <a href="{{ path('app_backoffice_reset_password_request') }}">Forgot password?</a>
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('admin_login') }}">
    </div>
    <div class="form-submit">
        <input type="submit" value="Submit" class="submit" id="submit" name="submit" />
    </div>
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div>
    <a href={{path('app_frontoffice_register')}}>register</a>
    </div>
</form>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <!-- PAGE LEVEL SCRIPTS-->
    <script type="text/javascript">
        $(function () {
            $('#login-form').validate({
                errorClass: "help-block",
                rules: {
                    email: {
                        required: true,
                        email: true
                    },
                    password: {
                        required: true
                    }
                },
                highlight: function (e) {
                    $(e).closest(".form-group").addClass("has-error")
                },
                unhighlight: function (e) {
                    $(e).closest(".form-group").removeClass("has-error")
                },
            });
        });
    </script>
{% endblock javascripts %}
