
{% extends 'frontoffice/profile/profile.html.twig' %}

{% block content %}

<div class="container-fluid py-5">

<div class="tab-content">
<div class="tab-pane fade" id="tab-pane-23535">
    <h4 class="mb-3">edit</h4>
        <div class="row">
            <div class="col-md-6">
            <div class="ibox-body">
            {{ form_start(form) }}
            <div class="row">
                <div class="col-sm-6 form-group">
                    {{ form_row(form.firstName, {'attr': {'class': 'form-control'}}) }}
                    {{ form_row(form.lastName, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="col-sm-6 form-group">
                    {{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
                    {{ form_row(form.country, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="col-sm-6 form-group">
                    {{ form_row(form.address, {'attr': {'class': 'form-control'}}) }}
                    {{ form_row(form.phone, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="col-sm-6 form-group">
                    {{ form_row(form.zipCode, {'attr': {'class': 'form-control'}}) }}
                    {{ form_row(form.city, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="col-sm-6 form-group">
                    {{ form_row(form.birthday, {'attr': {'class': 'form-control'}}) }}
                    {{ form_row(form.picture, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="col-sm-6 form-group">
                    {{ form_row(form.password, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group row">
                    <div class="col-sm-10 ml-sm-auto">
                        <button class="btn {{ button_color|default('btn-outline-primary') }}  mt-3">{{ button_label|default('Save') }}</button>
                        <a href="{{ path('app_frontoffice_profile') }}">
                            <span class="btn btn-warning">Annuler</span></a>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
            </div>
            </div>
        </div>
</div>
</div>
</div>
{% endblock %}