{% extends 'frontoffice/index.html.twig' %}

{% block body %}
    <div class="container-fluid py-5">
        <div class="row px-xl-5">
            <div class="col-lg-5 pb-5">
                <div id="product-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner border">
                        <div class="carousel-item active">
                            <img class="w-100 h-100" src="{{ asset('upload/img/toys/' ~ app.user.picture) }}" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-7 pb-5">
                <h6 class="font-weight-semi-bold">{{app.user.fullname}}</h6>
                <h6 class="font-weight-semi-bold">{{app.user.email}}</h6>
                <h6 class="font-weight-semi-bold">{{app.user.address}}</h6>
                <h6 class="font-weight-semi-bold">{{app.user.phone}}</h6>   
                <h6 class="font-weight-semi-bold">{{app.user.country}}</h6>
                <h6 class="font-weight-semi-bold">{{app.user.city}}</h6>
            </div>
        </div>
         <div class="row px-xl-5">
            <div class="col">
                <div class="nav nav-tabs justify-content-center border-secondary mb-4">
                    <a class="nav-item nav-link"  href="{{path('app_frontoffice_profile_addtoy')}}">Add toy</a>
                    <a class="nav-item nav-link"  href="{{path('app_frontoffice_profile_edit' )}}">edit your profile</a>
                    <a class="nav-item nav-link"  href="{{path('app_frontoffice_profile_toys' )}}">your toys</a>
                </div>
            </div>
        </div>
    </div>
{% block content %}  
{% endblock %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('.custom-file-input').on('change', function (event) {
            var inputFile = event.currentTarget;
            $(inputFile).parent()
                .find('.custom-file-label')
                .html(inputFile.files[0].name);
        });
    </script>
{% endblock %}