{% extends 'backoffice/home/index.html.twig' %}
{% block showUser %}
    <div class="container">
        <h2 class="text-center mt-5 mb-3">{{ user.firstname }} Details</h2>
        <div class="card">
            <div class="card-header">
                <a class="btn btn-outline-info float-right" href="#">
                    View All users
                </a>
            </div>
            <div class="card-body">
                <b class="text-muted">FirstName:</b>
                <p>{{ user.firstname }}</p>
                <b class="text-muted">LastName:</b>
                <p>{{ user.lastname }}</p>
                <b class="text-muted">Email:</b>
                <p>{{ user.email}}</p>
                <b class="text-muted">Country:</b>
                <p>{{ user.country}}</p>
                <b class="text-muted">City:</b>
                <p>{{ user.city}}</p>
                <b class="text-muted">ZipCode:</b>
                <p>{{ user.ZipCode}}</p>
                <b class="text-muted">Address:</b>
                <p>{{ user.address}}</p>
                <b class="text-muted">Phone:</b>
                <p>{{ user.phone}}</p>
                <b class="text-muted">Birthday:</b>
                <p>{{ user.birthday}}</p>


            </div>
        </div>
    </div>
{% endblock showUser %}
